<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>240243398700-kokpmue3musepudrvm1vrp8sej48dkms.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.240243398700-kokpmue3musepudrvm1vrp8sej48dkms</string>
	<key>API_KEY</key>
	<string>AIzaSyCav_aiWgfjY2Ns0Q1nG_zyM5Awdzvv-v8</string>
	<key>GCM_SENDER_ID</key>
	<string>240243398700</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.edchao.kaiseki</string>
	<key>PROJECT_ID</key>
	<string>kaiseki-85e16</string>
	<key>STORAGE_BUCKET</key>
	<string>kaiseki-85e16.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:240243398700:ios:54ef13d0c0b6687f</string>
	<key>DATABASE_URL</key>
	<string>https://kaiseki-85e16.firebaseio.com</string>
</dict>
</plist>